

.headstone{

    color:white;
    position: relative;
    top:100px;
    left:50px;
    margin:50px;

    text-shadow: 1px 3px rgb(40, 185, 34);

    

}

.contain{
    position: relative;
    top: 100px;
    left:700px;
    
    
    
    ;

}

